.reveal h1,
.reveal h2,
.reveal h3,
.reveal ul {
  margin-bottom: 14px;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal ul li {
  line-height: normal;
}

.reveal ul li,
.reveal pre {
  font-size: 1.6em;
}

.reveal p {
  font-size: 1.6em;
  line-height: 1.6;
}
.title h1 {
	color: white;
	font-weight: bold;
}
.title h2 {
	color: white;
	font-weight: bold;
}
.title h3 {
	color: white;
}

.title h4 {
	color: white;
}

.title h5 {
	color: white;
}

.title h6 {
	color: white;
}

.title p {
	color: white;
}