.reveal h1,
.reveal h2,
.reveal h3,
.reveal ul {
  margin-bottom: 14px;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal ul li {
  line-height: normal;
}

.reveal ul li,
.reveal pre {
  font-size: 1.6em;
}

.reveal p {
  font-size: 1.6em;
  line-height: 1.6;
}
